{% extends 'base.html' %} {% block head %}
<link rel="stylesheet"  type="text/css"  href="/static/stylesheets/geolocation.css"/>
<script type="module" src="/static/geolocation.js"></script>

{% endblock %} 

{% block content %}
<div class="row justify-content-center my-5">
  <div class="col-md-6">
    <h1 class="text-center">Add Movie Location</h1>
    <p class="text-center">Enter the movie location on the map!</p>
    <div id="map" style="height: 600px"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp1jKqmi89h2mhNsKtSZYK3-IT3xEq8go&callback=initMap&v=weekly"
      defer
    ></script>
    <br />
    <p><span>Address: </span><span id="full-address-span">  - Pin A Location On The Map -</span></p>
    <form method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %}

      <p>
        {{ field.label }} {{ field (placeholder=field.label.text, class="form-control") }} {% for error in field.errors %}
        <span class="text-danger"> {{ error }} </span>
        {% endfor %}
      </p>

      {% endfor %}
      <button type="Submit" class="btn btn-outline-success btn-block">
        Add my Post!
      </button>
    </form>
  </div>
</div>

{% endblock %}
